appdirs==1.4.3
decorator==4.0.11
dj-database-url==0.4.2
Django==1.11
gunicorn==19.7.1
ipython-genutils==0.2.0
Jinja2==2.9.6
jsonschema==2.6.0
jupyter-core==4.3.0
MarkupSafe==1.0
nbformat==4.3.0
packaging==16.8
plotly==2.0.7
psycopg2==2.7.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.13.0
six==1.10.0
traitlets==4.3.2
whitenoise==3.3.0
