body {
    font: 400 15px Lato, sans-serif;
    margin-top: 30px;
}

.jumbotron {
    background-image:url(../static/money_white.jpg) ;
    color: #000000;
    padding: 80px 25px;
    font-family: "Roboto", sans-serif;
}

.container-fluid {
    padding: 45px 40px;
}

.logo {
    font-size: 200px;
}

.navbar-brand>img {
  height: 60px;
  width: auto;
  margin-top: -15px;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: silver;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
    }
}

.container {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:flex-start;
    align-items:stretch;
}