{% extends "super.html" %}

{% block title %} -- about {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

<body>

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="container-fluid">
        <p>
            Stock Rogue to program umożliwiający testowanie różnych modeli
            szacowania wartości giełdowych, <br>wraz ze statystycznym opracowaniem i wizualizacją wyników.
        </p>
        <h3>
            Cele programu
        </h3>
        <ul>
            <li>Dostarczanie prostego narzędzia umożliwiającego wizualizację notowań giełdowych.</li>
            <li>Sprawdzenie efektywności różnych modeli szacujących wartość akcji spółek.</li>
            <li>Próba odpowiedzi na pytanie,
                czy opracowanie strategii giełdowej na podstawie archiwalnych wyników może mieć sens.</li>
            <li>Dostarczenie narzędzi do opracowania statystycznego wyników.</li>
        </ul>
        <p>Nasza aplikacja jest wciąż rozwijana, nasz
            <a href="https://github.com/NaczelnyRachmistrz/StockRogue">github</a>
        </p>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

</body>