{% extends "super.html" %}

{% block title %} - wszystkie spółki {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

<body>

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="container-fluid">
        <div class="list-group">
            {% for s in spolki %}
                <a class="list-group-item" href="{{ url('company_form', args=[s.id]) }}"> {{ s.skrot }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

</body>