{% extends "super.html" %}

{% block title %} - wybrano spółkę {{ id }} {% endblock %}
{% block head %}
    {{ super() }}
    <script src="/static/plotly-latest.min.js"></script>
{% endblock %}
<body>

{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <nav>
            <a href="{{ url('index') }}">Strona główna</a>
        </nav>
        <h1 style="margin-top: 70px">Notowania spółki {{ skrot }}</h1>
        <main>
            <section id="form">
                <form action="#" method="POST">
                    {{ csrf_input }}
                    {{ form }}
                    <input type="submit" value="Wyświetl">
                </form>
            </section>
            <section id="plot">
                {{ plot_div|safe}}
            </section>
        </main>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

</body>