<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Rogue</title>
    <link rel="stylesheet" href="../../static/stock_rogue_app_CSS/header.css"/>
    <link rel="stylesheet" href="../../static/stock_rogue_app_CSS/form.css"/>
    <link rel="stylesheet" href="../../static/stock_rogue_app_CSS/div.css"/>
</head>
<body>
<header class="head">Wybrano spółkę {{ skrot }}</header>
<main>
    <section id="form">
        <form action="{{url('company', args=[id])}}" method="post">
          {{ form }}
          <input type="submit" value="OK">
      </form>
    </section>
</main>
</body>
</html>