{% extends "super.html" %}

{% block title %} -- kontakt {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

<body>

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="container-fluid">
        <h3>
            Aplikację tworzą
        </h3>
        <ul>
            <li>Michał Kukuła</li>
            <li>Mikołaj Leonarski</li>
            <li>Marcin Michorzewski</li>
            <li>Przemysław Perkowski</li>
        </ul>
        <p>
            Na co dzień znajdziesz nas w murach wydziału MIM, studiujących tajniki programowania :)
        </p>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

</body>