{% extends "super.html" %}

{% block title %} - strona główna {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

<body>

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super }}
    <div class="jumbotron text-center">
        <h1>Witamy Was Kochani!</h1>
        <a href="/register" class="btn btn-default btn-lg">Zarejestruj się</a>
        <a href="/about" class="btn btn-default btn-lg">Informacje</a>
        <a href="/contact" class="btn btn-default btn-lg">Kontakt</a>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2>Czym jest Stock Rogue?</h2>
                <p>Stock Rogue to unikalna aplikacja umożliwiająca użytkownikom
                    testowanie różnych strategii inwestowania, w oparciu o modele
                    ewaluujące kursy akcji na podstawie danych historycznych. Dzięki nam
                    będziesz wiedział, czy Twoja strategia się opłaca! </p>
                <a href="/about" class="btn btn-default btn-lg">Zobacz, jakie to proste!</a>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-question-sign logo"></span>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-grey">
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-usd logo"></span>
            </div>
            <div class="col-sm-8">
                <h2>Nasze cele</h2>
                <p><strong>TESTOWANIE</strong> Nasze narzędzia umożliwiają
                    efektywne testowanie różnych strategii.</p>
                <p><strong>ANALIZA</strong> Dokładna analizę ułatwia opracowanie statystyczne
                    wyników.</p>
                <p><strong>WIZUALIZACJA</strong> Nasze dane przedstawiamy na wykresach.</p>

            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

</body>