<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stock Rogue</title>
    <link rel="stylesheet" href="../static/style.css>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {#    <link rel="stylesheet" href="../static/stock_rogue_app_CSS/header.css"/>#}
    {#    <link rel="stylesheet" href="../static/stock_rogue_app_CSS/form.css"/>#}
    {#    <link rel="stylesheet" href="../static/stock_rogue_app_CSS/div.css"/>#}
</head>
<body>
<div class="container">
    <section>
        <header>
            <img src="../static/logo/stock_rogue_big.png" width="800px">
        </header>

        <form action="/all/">
            <input type="submit" value="Wszystkie spółki">
        </form>
        <form action="/search">
            <input type="submit" value="Wyszukaj spółkę">
        </form>
        <input type="submit" value="Albo nie :)">
        </form>
    </section>
</div>
</body>
</html>