<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wyszukaj spółkę</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <form method="get" action="/search/">
            Wpisz nazwę spółki lub jej część <input type="text" name="wyszukiwanie"> <input type="submit" value="Szukaj">
        </form>

        <div class="list-group">
            {% for spolka in spolki_do_temp %}
                <a class="list-group-item" href="{{ url('company_form', args=[spolka.id])}}">{{ spolka.skrot}}</a>
            {% endfor %}
        </div>
    </div>
</body>
</html>