{% extends "super.html" %}

{% block title %} -- strategie {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

<body>

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2>Strategia Marcina 1.</h2>
                <p> Jestem bardzo mądra XDDD.</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-pawn logo"></span>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-grey">
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-tower logo"></span>
            </div>
            <div class="col-sm-8">
                <h2>Strategia Marcina 2.</h2>
                <p> Ja jeszcze mądrzejsza XD.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2>Strategia Marcina 3.</h2>
                <p> Ja to jestem dopiero mądra w luj XDD.</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-pawn logo"></span>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-grey">
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-tower logo"></span>
            </div>
            <div class="col-sm-8">
                <h2>Strategia Marcina 4.</h2>
                <p> XDDDDDDDDDDDDDDDD</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2>Linear Regression</h2>
                <p> Prosta strategia wykorzystująca regresję liniową. Znajduje funkcję liniową,
                    która jest najbardziej zbliżona do tego, jak zmieniały się dane historyczne.</p>
                <a href="/compare/E" class="btn btn-default btn-lg">Sprawdź mnie!</a>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-pawn logo"></span>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-grey">
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-tower logo"></span>
            </div>
            <div class="col-sm-8">
                <h2>Polynomial Regression</h2>
                <p> Regresja liniowa, która stara się dopasować do danych funkcje wielomianową
                    wyższego rzędu niż 1.</p>
                <a href="/compare/F" class="btn btn-default btn-lg">Sprawdź mnie!</a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2>Huber Regression</h2>
                <p>Część ruchów na giełdzie jest nietypowych - znacząco odbiega
                    od standardowych zachowań. Regresja Hubera jest bardziej odporna
                    na ekstremalne ruchy.</p>
                <a href="/compare/G" class="btn btn-default btn-lg">Sprawdź mnie!</a>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-king logo"></span>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

</body>