{% extends "super.html" %}

{% block title %} -- strategie {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

<body>

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2>Main Strategy</h2>
                <p> Strategia, która w zależności od czasu i aktywności inwestorów przewiduje przyszły kurs.</p>
{#                <a href="/compare/A" class="btn btn-default btn-lg">Sprawdź mnie!</a>#}
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-king logo"></span>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-grey">
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-knight logo"></span>
            </div>
            <div class="col-sm-8">
                <h2>Naive Strategy</h2>
                <p> Zmienia kurs w zależności tylko od ostatniego dnia.</p>
{#                <a href="/compare/B" class="btn btn-default btn-lg">Sprawdź mnie!</a>#}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2>Stable Strategy</h2>
                <p> Zwraca przyszły kurs jako niezmieniony kurs z ostatniej sesji.</p>
{#                <a href="/compare/C" class="btn btn-default btn-lg">Sprawdź mnie!</a>#}
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-bishop logo"></span>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-grey">
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-queen logo"></span>
            </div>
            <div class="col-sm-8">
                <h2>Average Strategy</h2>
                <p> Zwraca przyszły kurs jako uśredniony kurs z ostatnich 5 dni.</p>
{#                <a href="/compare/D" class="btn btn-default btn-lg">Sprawdź mnie!</a>#}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2>Linear Regression</h2>
                <p> Prosta strategia wykorzystująca regresję liniową. Znajduje funkcję liniową,
                    która jest najbardziej zbliżona do tego, jak zmieniały się dane historyczne.</p>
                <a href="/compare/E" class="btn btn-default btn-lg">Sprawdź mnie!</a>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-pawn logo"></span>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-grey">
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-tower logo"></span>
            </div>
            <div class="col-sm-8">
                <h2>Polynomial Regression</h2>
                <p> Regresja liniowa, która stara się dopasować do danych funkcje wielomianową
                    wyższego rzędu niż 1.</p>
                <a href="/compare/F" class="btn btn-default btn-lg">Sprawdź mnie!</a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2>Huber Regression</h2>
                <p>Część ruchów na giełdzie jest nietypowych - znacząco odbiega
                    od standardowych zachowań. Regresja Hubera jest bardziej odporna
                    na ekstremalne ruchy.</p>
                <a href="/compare/G" class="btn btn-default btn-lg">Sprawdź mnie!</a>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-king logo"></span>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

</body>